.gridWrapper {
    width: 100%;
    height: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 100%;
}

.gridCell {
    background-image: url('/images/img3.png');
    background-size: 500% 700%;
    background-repeat: no-repeat;
    border: 1px solid #233554;
    position: relative;
    box-sizing: border-box;
}

.cellOverlay {
    position: absolute;
    inset: 0;
    background-color: #112240;
    transition: opacity 0.3s ease;
}

.gridCell:hover .cellOverlay {
    opacity: 0;
}

.hiddenCell {
    visibility: hidden;
}