.mouseLight {
  opacity: 1;
  position: fixed;
  z-index: 1;
  /* Sits above the background */
  width: 400px;
  height: 400px;
  border-radius: 50%;

  /* Your light teal color */
  background: radial-gradient(circle at center,
      rgba(151, 254, 237, 0.04),
      transparent 60%);

  transform: translate(-50%, -50%);
  pointer-events: none;
  filter: blur(10px);
}

@media (max-width: 768px) {
  .mouseLight {
    display: none !important;
  }
}