name: Deploy

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy
        run: |
          npx vercel --prod --yes --name "hiru-portfolio-$VERSION"
